body{
    background-color:  #222222;
    color: #FFFFFF;
    font-family: "Verdana";
}
h1{
    color:#CCFFCC;
}
h2{
    color:#CCFFCC;
}
h3{
    color:#CCFFCC;
}

li{
    color: #CCCCFF ;
}
img{
    width: 100px;
    display: flex;
    background-color:  #224422;
}
@media (min-height: 800px) {
 
 
    .card{
 
        width:100%;
 
    }
}
 
    .image {
 
        display:none;
    }